.fretboard {
    width: 20px;
    /* display: none; */
    position: relative;
}

.fretboard img {
    position: absolute;
    top: 0;
    left: 40px;
}

.notes-image {
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
}

.option1t {
    display: flex;
    position: absolute;
    top: 140px;
}
.option2t {
    display: flex;
    position: absolute;
    top: 115px;
}
.option3t {
    display: flex;
    position: absolute;
    top: 90px;
}
.option4t {
    display: flex;
    position: absolute;
    top: 65px;
}
.option5t {
    display: flex;
    position: absolute;
    top: 40px;
}
.option6t {
    display: flex;
    position: absolute;
    top: 15px;
}